<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Spy Now
    style
      include css/global.css
      block styles
  body
    header
      h1 Spy Now!
      nav
        a(href="/") Home
        a(href="/list") List
    block content
