extends _layout.pug

block styles
  include css/list.css
    
block content
  ul
    each espionage in espionages
      li
        a(href=`/details/${espionage.id}`)
          p Espionage Id: #{espionage.id}
          p Meeting Id: #{espionage.meetingId}
          p Recording Url: #{espionage.recordingUrl}
